server:
  port: 8081   # catalog-service

spring:
  application:
    name: catalog-service

  datasource:
    url: jdbc:postgresql://localhost:5432/catalog_db
    username: catalog_user
    password: catalog_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none   # we use the SQL above to create tables
    show-sql: true
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
